In [1]:
import pandas as pd
df = pd.read_csv("rating_final.csv")

In [2]:
df.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [3]:
df.shape

(1161, 5)